#user-header {
    position: relative;
    left: 45px;
    top: 10px;
}

.container {
    text-align: center;
    background: aliceblue;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

#modify-info {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    
}